@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/*

media query screen width cutoff points:
phone: x <= 800px
small: 801px <= x <= 1300px
large: 1301px <= x

*/

:root {
    /* colors */
    --stage-burgundy: #8e0c35;
    --highlight-red: #c80000;
    --optimist-gold: #ffd700;
    --clean-white: #ffffff;
    --almost-white: #f6f6f6;
    --lighter-grey: #dadada;
    --fifty-percent-black: #0000007f;
    --twenty-five-percent-black: #00000040;
    --fifty-percent-white: #ffffff7f;
    --ninety-three-percent-white: #ffffffee;
    --ninety-three-percent-almost-white: #f6f6f6ee;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Maven Pro", Ubuntu, Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    min-height: 100vh;
    display: grid;
    gap: 2vmin;
    grid-template-rows: 10vh repeat(1, min-content) auto min-content;
    place-items: center;
    text-align: justify;
    background-color: var(--lighter-grey);
    background-image: url("/res/sitebg.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

::selection {
    color: gold;
    background: black;
}

a {
    color: var(--highlight-red);
    text-decoration: none;
    font-weight: bold;
}

button {
    cursor: pointer;
}

code {
    background-color: var(--lighter-grey);
    font-family: "Ubuntu Mono", Consolas, monospace;
}

h1 {
    font-size: 1.5em;
    margin: 0;
}

h2 {
    font-size: 1.25em;
    margin: 0;
}

h3 {
    font-size: 1em;
    margin: 0;
}

hr {
    width: 80vw;
    max-width: 1333px;
}

p {
    margin-bottom: 0;
}

pre {
    margin: 0;
}

ul {
    margin: 0;
}

/* scroll bar */

::-webkit-scrollbar {
    width: auto;
}
::-webkit-scrollbar-track {
    background-image: linear-gradient(to right, var(--fifty-percent-black), #00000000);
    background-color: var(--almost-white);
}
::-webkit-scrollbar-thumb {
    background-color: var(--clean-white);
    border-radius: 2vmin;
    box-shadow: 0 0 0.5vmin 0 black inset;
}
::-webkit-scrollbar-thumb:hover {
    box-shadow: 0 0 0.5vmin 0.1vmin var(--highlight-red) inset;
}

/* section labels, typically displayed off any cards */

.section-label {
    color: black;
    filter: drop-shadow(0 0 1vmin white);
}

/* nav bar at the top */

nav {
    background-color: white;
    border-width: 0 0 0.6vmin 0;
    border-style: solid;
    border-color: var(--highlight-red);
    box-shadow: 0 0 1vmin 0.5vmin var(--fifty-percent-black);
    height: 8vh;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 100;
    overflow: hidden;

    display: grid;
    gap: 2vmin;
    padding: 1vh 0 1vh 0;
    place-items: center;

    transition-duration: 1s;
    transition-property: height;
}

nav:hover {
    height: min-content;
}

nav img {
    object-fit: contain;
    max-height: 8vh;
}

nav ul {
    background-color: white;
    box-sizing: content-box;
    padding: 0;
    width: 90vw;
    max-width: 1500px;
    list-style: none;
    text-align: center;

    display: grid;
    grid-template-columns: repeat(6, min-content);
    gap: 1vmin;
    place-items: center;
    justify-content: space-between;
}

nav ul li {
    min-height: 2em;
    padding: 1vmin;
    border-radius: 1vmin;
    border-style: solid;
    border-width: 1px;
    border-color: var(--lighter-grey);

    display: grid;
    place-items: center;
}

nav ul li:hover {
    background-color: var(--lighter-grey);
}

nav ul li img {
    height: 1em;
}

/* phone size */
@media screen and (max-width: 800px) {
    nav ul {
        grid-template-columns: repeat(3, min-content);
    }
}

/* circle image */

img.circle {
    border-radius: 50%;
}

/* introduction article */

article.introduction {
    box-sizing: border-box;
    width: 90vw;
    max-width: 1500px;
    display: grid;
    grid-template-columns: 20vmin 1fr;
    gap: 2vmin;
    place-items: center;
}
article.introduction img {
    padding: 0.5vmin;
    border-radius: 50%;
    box-sizing: border-box;
    height: 1vmin;
    object-fit: cover;
    background-color: var(--ninety-three-percent-white);
    backdrop-filter: blur(5px);
    filter: drop-shadow(0 0 1vmin var(--fifty-percent-black));

    transition-duration: 1s;
    transition-property: transform;
}
article.introduction img:hover {
    transform: scale(0.95);
}
article.introduction div {
    background-color: var(--ninety-three-percent-white);
    backdrop-filter: blur(5px);
    width: 100%;
    border-radius: 2vmin;
    padding: 2vmin;
    box-sizing: border-box;
    box-shadow: 0 0 1vmin var(--fifty-percent-black);
}
article.introduction h1 {
    margin: 0 0 1vmin 0;
}
article.introduction p {
    margin: 1vmin 0 0 0;
}

/* phone size */
@media screen and (max-width: 800px) {
    article.introduction {
        grid-template-columns: 1fr;
    }
}

/* roles */

article.roles {
    background-color: var(--ninety-three-percent-almost-white);
}

div.role-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2vmin;
}

div.role-cards article {
    padding: 2vmin;
    background-color: white;
    border-radius: 2vmin;
    box-shadow: 0 0 1vmin var(--fifty-percent-black);
    filter: none;

    transition-property: transform;
    transition-duration: 1s;

    background-repeat: no-repeat;
    background-size: cover;

    display: grid;
    grid-template-rows: min-content minmax(0, 1fr);
    gap: 2vmin;
    place-items: center;
}
div.role-cards article:hover {
    transform: scale(0.95);;
}
div.role-cards a {
    color: black;
}
div.role-cards article h1 {
    margin: 0 0 1vmin 0;
    text-align: center;
}
div.role-cards article img {
    border-style: none;
    height: 100%;
    width: 100%;
    object-fit: contain;
}
/* work in progress roles */
div.role-cards a.wip article {
    background-color: lightgrey;
}
div.role-cards a.wip article img {
    filter: grayscale(1);
}

/* cards */

.card {
    background-color: var(--ninety-three-percent-white);
    backdrop-filter: blur(5px);
    box-sizing: border-box;
    width: 90vw;
    max-width: 1500px;
    padding: 2vmin;
    border-radius: 2vmin;
    box-shadow: 0 0 1vmin var(--fifty-percent-black);
    display: grid;
    gap: 2vmin;
}
.card.slide-in {
    animation-name: slide-in;
    animation-duration: 1s;
}
.card.slide-out {
    animation-name: slide-out;
    animation-duration: 1s;
}
.card button {
    background-color: var(--highlight-red);
    color: white;
    font-family: inherit;
    font-weight: bold;
    width: fit-content;

    border-style: none;
    border-radius: 1vmin;
    padding: 1vmin;
    box-shadow: 0 0 0.75vmin var(--fifty-percent-black);

    transition-property: box-shadow;
    transition-duration: 1s;
}
.card button:hover {
    box-shadow: 0 0 0.25vmin var(--fifty-percent-black);
}
.card img {
    border-radius: 1vmin;
    border-color: var(--highlight-red);
    border-style: solid;
    border-width: 1px;
    max-height: 25vmin;
    max-width: 40vw;
    object-fit: contain;
    margin: 1vmin 1vmin 0 0;
    float: left;
    transition-property: transform, box-shadow, background-color, border-radius;
    transition-duration: 1s;
}
.card p {
    margin: 0;
}

/* phone size */
@media screen and (max-width: 800px) {
    div.role-cards {
        grid-template-columns: 1fr;
    }
}

/* small size */
@media screen and (min-width: 801px) and (max-width: 1300px) {
    div.role-cards {
        grid-template-columns: 1fr 1fr;
    }
}

/* about button */

div.row-button {
    background-color: var(--ninety-three-percent-white);
    border-radius: 2vmin;
    box-shadow: 0 0 1vmin var(--fifty-percent-black);
    box-sizing: border-box;
    width: 90vw;
    max-width: 1500px;
    padding: 2vmin;

    transition-duration: 1s;
    transition-property: transform;
}
div.row-button:hover {
    transform: scale(0.95);
}

/* collection article */

article.collection {
    grid-template-rows: min-content, repeat(auto-fill, 1fr);
}

/* projects list */

ol.projects {
    display: grid;
    gap: 1vmin;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
ol.projects li {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}
ol.projects li:nth-child(2n+1) {
    background-color: lightgrey;
}
ol.projects li div {
    padding: 2vmin;
    border-style: outset;
    border-width: 1px;
}
ol.projects li:nth-child(n+2) div:nth-child(2) {
    font-weight: bold;
    font-style: italic;
}
ol.projects li div img {
    object-fit: cover;
    height: 20vh;
    max-height: none;
    width: 100%;

    animation: cover-image-slide;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: linear;
}
ol.projects li div img:hover {
    animation-play-state: paused;
}

/* phone size */
@media screen and (max-width: 800px) {
    ol.projects li {
        grid-template-columns: 1fr 1fr;
    }
}
/* small size */
@media screen and (min-width: 801px) and (max-width: 1300px) {
    ol.projects li {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/* footer */

footer {
    background-color: white;
    border-color: var(--highlight-red);
    border-style: solid;
    border-width: 0.6vmin 0 0 0;
    box-shadow: 0 0 1vmin 0.5vmin var(--fifty-percent-black);
    width: 100%;
    box-sizing: border-box;

    display: grid;
    gap: 2vmin;
    padding: 2vmin;
    place-items: center;
    text-align: center;

    position: relative;
}
footer img:not(.bottom-left) {
    max-height: 6vmin;
}

/* bottom images */

img.bottom-left {
    height: 10vmin;
    object-fit: contain;
    position: absolute;
    left: 0;
    bottom: 0;
}
img.bottom-right {
    height: 10vmin;
    padding: 1vmin;
    box-sizing: border-box;
    object-fit: contain;
    position: absolute;
    right: 0;
    bottom: 0;
}

/* social media icons */

div.social-media-icons {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 90vw;
    place-items: center;
}
div.social-media-icons a {
    color: black;
}
div.social-media-icons img {
    object-fit: contain;
    height: 1.5em;
}

/* phone size */
@media screen and (max-width: 800px) {
    div.social-media-icons {
        grid-template-columns: 1fr 1fr;
    }
}

/* role introduction */

article.role-introduction {
    background-color: var(--ninety-three-percent-white);
    backdrop-filter: blur(5px);
    border-color: var(--highlight-red);
    border-style: solid;
    border-width: 0.3vmin 0 0.3vmin 0;
    width: 90vw;
    max-width: 1500px;
    padding: 2vmin;
    box-shadow: 0 0 1vmin 0 var(--fifty-percent-black);
    box-sizing: content-box;
}
article.role-introduction img {
    height: 15vmin;
    float: left;
    padding: 2vmin;
}

/* table of contents */

/* sticky on non-mobile screens */
@media screen and (min-width: 801px) {
    #table-of-contents {
        position: sticky;
        top: 11vh;
        z-index: 10;
    }
}

/* space div */

div.space {
    height: calc(4vmin + 1em);
}

/* contact button */

button.contact {
    position: fixed;
    bottom: 2vmin;
    right: 2vmin;

    border-style: none;
    border-radius: 1vmin;
    border-color: var(--highlight-red);
    padding: 1vmin;
    box-shadow: 0 0 1vmin var(--fifty-percent-black);
    
    color: white;
    background-color: var(--highlight-red);
    font-weight: bold;
    font-family: inherit;

    transition-property: right, transform;
    transition-duration: 1s;
}

/* background info section */

#background-info {
    display: grid;
    gap: 2vmin;
    place-items: center;
}

/* skills list */

article#skills, article#skills div.skills-article {
    display: grid;
    gap: 2vmin;
}

article#skills div.skills {
    display: grid;
    gap: 1vmin;
}
div.skills h2 {
    padding-left: 1em;
}
div.skills h3 {
    padding-left: 2em;
}
div.skills img {
    height: 1.5em;
    padding: 0;
    border-radius: 0;
    border-style: none;
}
div.skills div.skill-group {
    display: grid;
    gap: 1vmin;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 1vmin;

    border-radius: 1vmin;
    box-shadow: 0 0 1.5vmin -1vmin var(--fifty-percent-black) inset;
}
div.skills div.skill-group div {
    display: grid;
    place-items: center;
}

/* phone size */
@media screen and (max-width: 800px) {
    div.skills div.skill-group {
        grid-template-columns: 1fr 1fr;
    }
}
/* small size */
@media screen and (min-width: 801px) and (max-width: 1300px) {
    div.skills div.skill-group {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/* organizations list */

ol.organizations {
    display: grid;
    gap: 1vmin;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
ol.organizations li {
    display: grid;
    grid-template-columns: repeat(2, 1fr) 2fr;
}
ol.organizations li:nth-child(2n+1) {
    background-color: lightgrey;
}
ol.organizations li div {
    padding: 2vmin;
    border-style: outset;
    border-width: 1px;
}
ol.organizations li:nth-child(n+2) div:nth-child(2) {
    font-weight: bold;
    font-style: italic;
}
ol.organizations li div img {
    object-fit: contain;
    height: 2vmin;
    border-radius: 0;
    border-style: none;
}

/* phone size */
@media screen and (max-width: 800px) {
    ol.projects li {
        grid-template-columns: 1fr 1fr;
    }
}

/* main-card */

article.main-card img {
    padding: 0;
    width: 100%;
    height: auto;
    max-height: 50vmin;
    max-width: none;
    object-fit: cover;

    animation: cover-image-slide;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-play-state: paused;
    animation-timing-function: linear;
}
article.main-card img:hover {
    animation-play-state: running;
}

/* full-image-card */

article.full-image-card img {
    padding: 0;
    width: 100%;
    height: auto;
}

/* textarea for code */

textarea.code {
    background-color: #000000f0;
    color: white;
    height: 30em;
    width: 100%;
    resize: vertical;
    border-radius: 1vmin 0 0 1vmin;
    border-color: var(--highlight-red);
}
textarea.code::selection {
    background-color: var(--fifty-percent-white);
}

/* project specifications */

ul.project-specifications {
    list-style: none;
    padding: 0;
}
ul.project-specifications li {
    display: grid;
    grid-template-columns: 1fr 4fr;
}
ul.project-specifications li div {
    width: 100%;
    padding-left: 1em;
    box-sizing: border-box;
    border-style: outset;
    border-width: 1px;
}

/* phone size */
@media screen and (max-width: 800px) {
    ul.project-specifications li {
        display: grid;
        grid-template-columns: 1fr;
    }
    ul.project-specifications li:nth-child(2n) {
        background-color: lightgrey;
    }
}

/* lightbox background */
div.lightbox-bg {
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--fifty-percent-black);
    overflow: auto;
}

@keyframes cover-image-slide {
    from {
        object-position: center;
    }
    25% {
        object-position: top left;
    }
    50% {
        object-position: center;
    }
    75% {
        object-position: bottom right;
    }
    to {
        object-position: center;
    }
}

@keyframes slide-in {
    from {
        transform: translateX(-100vw);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slide-out {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100vw);
    }
}