:root {
    --vct-red: #C00136;

    --half-black: #00000080;
    --translucent-white: #ffffffce;
}

body {
    background-color: #cdcdcd;
    background-image: url("/res/sitebg.jpg");
    background-size: cover;
    background-position: center;
    margin: 0;
    gap: 1vh;
}

/* common drop shadow */

header, footer, .cards div div {
    box-shadow: 1px 3px 6px var(--half-black);
}

/* header and footer */

header, footer {
    background-color: var(--translucent-white);
    backdrop-filter: blur(3px);
    box-sizing: border-box;
    width: 100%;
}

/* header */

header {
    height: 6vh;
    padding: 1vh;
}

header img {
    height: 4vh;
}

/* footer */

footer {
    display: grid;
    gap: 1vh;
    padding: 1vh;
    place-items: center;
    text-align: center;

    position: fixed;
    bottom: 0;
}

/* social media icons */

div.social-media-icons {
    display: grid;
    gap: 1vh;
    grid-template-columns: repeat(5, 1fr);
    width: 75vw;
    place-items: center;
}
div.social-media-icons a {
    color: black;
}
div.social-media-icons img {
    object-fit: contain;
    height: 2vh
}

/* phone */
@media screen and (max-width: 800px) {
    div.social-media-icons {
        grid-template-columns: 1fr 1fr;
    }
}

/* bottom corner content */

.bottom-left, .bottom-right {
    box-sizing: border-box;
    height: 7vh;
    object-fit: contain;
    position: absolute;
    bottom: 0;
}
.bottom-left {
    left: 0;
}
.bottom-right {
    right: 0;
}

/* cards */

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.cards div {
    margin: 1vh;
    perspective: 300px;
    perspective-origin: 50% 50%;
}

.cards div div {
    background-color: var(--translucent-white);
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
    filter: saturate(60%);
    flex: 1;
    min-width: 400px;
    max-width: 600px;
    height: 100%;
    min-height: 500px;
    overflow: hidden;
    transform: rotateX(6deg) scale(0.9);

    border-color: white;
    border-style: solid;
    border-radius: 3vh;
    border-width: 0.5vh;

    transition-property: border-color, filter, transform;
    transition-duration: 0.3s;
}
.cards div div:hover {
    border-color: var(--vct-red);
    filter: saturate(100%);
    transform: none;
}

.cards div div p {
    background-color: var(--translucent-white);
    box-sizing: border-box;
    display: block;
    transform: translate(calc(-50% - 1vh), -100vh);
    width: calc(100% - 2vh);

    margin: 1vh;
    padding: 1vh;
    border-radius: 1vh;

    position: absolute;
    bottom: 0;
    left: 50%;

    transition-property: transform;
    transition-duration: 0.3s;
}
.cards div div:hover p {
    transform: translate(calc(-50% - 1vh), 0);
}