/* maven pro font */
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;460;500;600;700&display=swap');

:root {
    --vct-red: #C00136;
    --vct-red-half: #C0013680;
    --vct-red-0f: #C001360F;
    --vct-link: #ffe066;
    --vct-highlight: #ffeca1;
    --vct-highlight-half: #ffeca180;
    --vct-oldark-grey-d7: #d7d7d7;
    --vct-oldark-red: #0C0003;
    --vct-oldark-red-translucent: #0C0003ce;
    --vct-oldark-very-dark: #040102;
    --a-quarter-black: #00000040;
    --half-black: #00000080;
    --grey-36: #363636;
    --mahogany: #231a16;
    --half-mahogany: #231a1680;
    --none: #00000000;
    --sheer-white: #ffffffee;
    color: white;
    font-size: 14pt;
}

html, body {
    height: 100%;
}

html {
    scroll-behavior: smooth;
}

a {
    color: var(--vct-link);

    transition-property: color;
    transition-duration: 0.3s;
}
a:has(button) {
    text-decoration: none;
}
a:hover {
    color: var(--vct-highlight);
}

body {
    color: var(--vct-oldark-grey-d7);
    background-color: var(--vct-oldark-red);
    font-family: "Maven Pro", Ubuntu, Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    gap: 1vh;
}

button {
    background-color: var(--vct-oldark-red);
    border-color: var(--vct-link);
    border-radius: 20px;
    border-style: solid;
    border-width: 2px;
    box-shadow: none;
    font-family: "Maven Pro", Ubuntu, Verdana, Geneva, Tahoma, sans-serif;
    height: 40px;
    padding: 0 24px 0 24px;
    color: var(--vct-link);
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;

    transition-property: border-color, box-shadow, color;
    transition-duration: 0.1s, 0.4s, 0.1s;
}
button:hover {
    border-color: var(--vct-highlight);
    box-shadow: 0 0 20px 0 var(--vct-highlight-half) inset;
    color: var(--vct-highlight);
}

h1, h2, h3 {
    box-sizing: border-box;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding: 12px;
    position: relative;
    text-align: center;
}

h1 {
    color: white;
    font-size: 22pt;
    letter-spacing: -1.36px;
    margin: 0;
    z-index: 10;
}
h1 b {
    font-weight: 500;
}

h2 {
    font-size: 22pt;
    z-index: 9;
}

h3 {
    font-size: 16pt;
    z-index: 8;
}

li {
    margin-top: 0.3rem;
}

.smalltext {
    font-size: 12pt;
}

/* gradients */

.bottom-gradient {
    background-image: radial-gradient(farthest-side at bottom center, var(--vct-red-half) 0%, #00000000 100%);
}

.cover-gradient {
    background-image: radial-gradient(farthest-side at center, var(--vct-red-half) 0%, #00000000 100%);
}

.top-gradient {
    background-image: radial-gradient(farthest-side at top center, var(--vct-red-half) 0%, #00000000 100%);
}

/* very dark background */

.verydark {
    background-color: var(--vct-oldark-very-dark);
}

/* scroll bar */

::-webkit-scrollbar {
    width: auto;
}
::-webkit-scrollbar-track {
    background-image: linear-gradient(to right, black 0%, var(--vct-oldark-red) 40%, var(--vct-oldark-red) 60%, black 100%);
    background-color: black;
}
::-webkit-scrollbar-thumb {
    background-color: var(--vct-oldark-red);
    border-radius: 8px;
    box-shadow: 0 0 8px var(--vct-red) inset;
}

/* header and footer */

header, footer {
    background-color: var(--vct-oldark-red-translucent);
    backdrop-filter: blur(4px);
    box-sizing: border-box;
    box-shadow: 0 2px 8px 0 var(--vct-oldark-grey-d7);
    width: 100%;
    z-index: 100;
}

/* space to be inserted above and below content so header and footer don't cover content */

div.space {
    height: 10vh;
}

/* header */

header {
    height: 6vh;
    min-height: 3rem;
    display: flex;
    gap: 1vh;
    justify-content: center;
    position: fixed;
    top: 0;
}

header img {
    max-height: 100%;
    min-height: 2em;
}

header nav, header nav ul, header nav ul li {
    display: flex;
    height: 100%;
    margin: 0;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul a {
    font-weight: bold;
    text-decoration: none;
}

header nav ul li {
    align-items: center;
    color: white;
    gap: 1vh;
    height: 100%;
    padding: 0 2vh 0 2vh;
    text-align: center;
    transform: none();

    transition-property: transform, color;
    transition-duration: 0.3s;
}
header nav ul a li:hover {
    color: var(--vct-highlight);
    transform: scale(1.1);
}

/* footer */

footer {
    display: grid;
    gap: 1vh;
    padding: 4px;
    place-items: center;
    text-align: center;

    position: fixed;
    bottom: 0;
}
footer div {
    margin: 0 6vw 0 6vw;
}

/* social media icons */

.social-media-icons {
    display: flex;
    justify-content: center;
    width: 75vw;
    max-width: 360px;
    place-items: center;
}
.social-media-icons img {
    object-fit: contain;
    filter: saturate(0) brightness(1.25);
    height: 24px;
    min-height: 1em;
    padding: 8px;
    transform: none;

    transition-property: filter, transform;
    transition-duration: 0.3s;
}
div.social-media-icons img:hover {
    filter: none;
    transform: scale(1.1);
}

/* bottom corner content */

.bottom-left, .bottom-right {
    box-sizing: border-box;
    height: 96px;
    object-fit: contain;
    position: absolute;
    bottom: 0;

    transition-property: bottom;
    transition-duration: 0.3s;
}
.bottom-left:hover, .bottom-right:hover {
    bottom: -48px;
}
.bottom-left {
    left: 0;
}
.bottom-right {
    right: 0;
}

@media screen and (max-width: 420px) {
    .bottom-left, .bottom-right {
        display: none;
    }
}

/* cards */

.cardarea {
    padding: 16px;
}

.cardarea h2, .cardarea h3 {
    margin-top: 16px;
    margin-bottom: 8px;
    padding: 0;
}

div.cards {
    display: flex;
    flex-wrap: wrap;
    column-gap: 12px;
    justify-content: center;
    margin: auto;
    max-width: 1920px;
}

div.cards div.wrapper {
    flex-basis: 260px;
    flex-grow: 0;
    flex-shrink: 0;
    height: 420px;
    width: 280px;
    perspective: 300px;
    perspective-origin: 50% 50%;
    z-index: auto;
}
div.cards div.wrapper:hover {
    z-index: 10;
}

div.card {
    background-color: white;
    background-position: center;
    background-size: cover;
    box-shadow: none;
    box-sizing: border-box;
    height: 100%;
    
    overflow: hidden;
    transform: rotateX(8deg) scale(0.95) translate3d(0, -16px, 0);

    border-color: var(--grey-36);
    border-style: solid;
    border-radius: 32px;
    border-width: 4px;

    transition-property: box-shadow, transform;
    transition-duration: 3s, 0.3s;

    backface-visibility: hidden;
}
div.cards div.wrapper:nth-of-type(2n) div.card {
    transform: rotateX(8deg) scale(0.9) translate3d(0, -24px, 0);
}
div.card:hover {
    box-shadow: 0 0 128px 0 var(--vct-red-half);
    transform: rotateX(1deg) translate3d(0, 0, 0);
}
div.cards div.wrapper:nth-of-type(2n) div.card:hover {
    transform: rotateX(1deg) translate3d(0, 0, 0);
}

div.cards div.card div.content {
    background-color: var(--vct-oldark-red-translucent);
    border-radius: 16px 16px 0 0;
    box-sizing: border-box;
    display: block;
    font-size: 12pt;
    transform: translate(calc(-50%), calc(100% - 1.6em - 20px));
    width: calc(100% + 4px);

    padding: 8px;

    position: absolute;
    bottom: 0;
    left: 50%;

    transition-property: transform;
    transition-duration: 0.3s;
}
div.cards div.card:hover div.content {
    transform: translate(calc(-50%), 0);
}

div.cards div.content h1 {
    font-size: 1.6em;
    margin-bottom: 1vh;
    padding: 0;
}

div.cards div.card button {
    margin-top: 1vh;
    width: 100%;
}

/* infoblocks */

.infoblock {
    box-sizing: border-box;
    margin: auto;
    overflow: hidden;
    padding: 24px 48px 24px 48px;
}

.infoblock * {
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
}

.infoblock button {
    margin-bottom: 8px;
}

.infoblock h2, .infoblock h3 {
    margin-top: 12px;
    margin-bottom: 4px;
    padding: 0;
    text-align: left;
}

.infoblock h2 {
    margin-top: 24px;
}

.infoblock img {
    display: block;
    margin: 8px auto 8px auto;
    max-height: 40vh;
    max-width: 100%;
}

.infoblock p {
    margin-top: 12px;
    margin-bottom: 12px;
}

/* CV grid */

div.cvgrid {
    display: grid;
    gap: 2vh;
    grid-template-columns: min-content 1fr;
    max-width: 900px;
}

div.cvgrid * {
    margin: initial;
}

div.cvgrid h3, h4 {
    background-color: var(--none);
    box-shadow: none;
    margin: 0 0 0.5em 0;
    padding: 0;
    text-align: left;
}

div.cvgrid img {
    background-color: white;
    border-radius: 50%;
    box-sizing: border-box;
    float: left;
    height: 10vh;
    max-height: 256px;
    min-height: 64px;
    max-width: none;

    transition-property: box-shadow;
    transition-duration: 1s;
}
div.cvgrid a img:hover {
    box-shadow: 0 0 24px 0 var(--vct-red);
}

div.cvgrid p {
    line-height: 1.5em;
    text-align: left;
}

/* skill flex */

div.skillflex {
    display: flex;
    flex-wrap: wrap;
    column-gap: 8px;
    row-gap: 16px;
}
div.skillflex figure {
    background-color: var(--vct-oldark-very-dark);
    border-color: var(--grey-36);
    border-radius: 24px;
    border-style: solid;
    border-width: 2px;
    display: grid;
    grid-template-columns: min-content 1fr;
    margin: 0;
    place-items: center;
}
div.skillflex figure div {
    border-radius: 0 1vh 1vh 0;
    padding: 0 12px 0 0;
    white-space: nowrap;
}
div.skillflex figure img {
    height: 24px;
    padding: 12px;
    max-width: none;
    margin: 0;
    z-index: 1;
}

/* slideshows */

div.slideshow, div.slideshow figure, div.slideshow img {
    height: 100%;
    max-height: 60vh;
    min-height: 300px;
    margin: auto;
    object-fit: cover;
    width: 100%;
    max-width: 1920px;
}

div.slideshow {
    background-color: var(--grey-36);
}

div.slideshow figure div {
    background-color: var(--vct-oldark-red-translucent);
    backdrop-filter: blur(4px);
    border-radius: 16px;
    color: white;
    max-height: 75%;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 24px;
    position: absolute;
    right: 64px;
    top: 50%;
    transform: translate(0, -50%);
    width: 30vw;
    min-width: 200px;
}

div.slideshow figure ::-webkit-scrollbar-track {
    background-image: none;
    background-color: var(--none);
}

div.slideshow figure a {
    display: grid;
    justify-content: center;
}
div.slideshow figure button {
    margin-top: 1vh;
}

div.slideshow figure h2 {
    background-color: var(--none);
    box-shadow: none;
    padding: 0;
    margin: 0 0 1vh 0;
}

div.slideshow figure p {
    margin: 1vh 0 0 0;
}

div.slideshow figure .ytvideo {
    height: 100%;
    margin-left: 64px;
    width: calc(100% - 128px);
}