@import url('https://fonts.googleapis.com/css2?family=Nova+Flat&display=swap');

html {
    background-attachment: fixed;
    background-image: url("../res/sitebg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    margin: 0;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;

    color: white;
    text-shadow: 0 0 1vmin black, 0 0 1vmin black;

    background-image: url("../res/wallpaper_starboarders_bw2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    display: grid;
    place-items: center;
}

h2 {
    font-family: "Nova Flat", "Maven Pro", Ubuntu, sans-serif;
    font-size: 3vh;
    text-align: center;
    margin: 0;
}

nav {
    background-image: linear-gradient(#ffffff3f, #ffffff7f);
    position: sticky;
}

nav img {
    height: 6vmin;
    padding-top: 2vmin;
    padding-bottom: 2vmin;
    padding-left: 1vmin;
}

section {
    /*Temporary for while there only is the trailer:*/
    display: grid;
    place-items: center;

    margin-top: 1vmin;
    margin-bottom: 1vmin;
}

.video-container {
    border: none;
    height: calc(9 * (90vmin / 16));
    width: 90vmin;
}